* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: auto auto 2fr;
  min-height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header"
    "main main"
    "section section"
    "footer footer";
  justify-items: stretch;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(22, 41, 62);
  padding: 1rem;
  margin: 0;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 50px;
  list-style: none;
  text-align: center;
  padding: 90;
  background: #8a5826;
  width: 95%;
  max-width: 1320px;
  font-size: 25px;
  background-image: radial-gradient(white, grey);
  transform: translate(200px, 10px);
}

.menu li a {
  text-decoration: none;
  color: white;
  padding: 15px;
  display: flex;
}

.menu li {
  display: inline-block;
  text-align: center;
}

.menu li a:hover {
  background: rgba(189, 46, 18, 0.628);
}

.centralPart {
  background-color: beige;
  padding: 10px;
  text-align: center;
  border: solid 4px;
  background-image: linear-gradient(to bottom, rgb(18, 9, 9), white);
  transform: translate(5px, 30px);
  height: 100px;
  transition: all 3s;
}
.centralPart:hover {
  height: 150px;
}

img {
  max-width: 100%;
  vertical-align: middle;
  padding: 1rem;
  transform: translate(600px, -10px);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: blueviolet;
  margin-top: 5rem;
  text-align: left;
  transform: rotate(360deg);
  height: 100px;
  transition: all 6s;
}

.footer:hover {
  height: 150px;
}

.titulo {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 50px;
  text-align: center;
  text-decoration: none;
}

.ofertaTasas {
  color: yellow;
  font-style: italic;
  margin-top: 1rem;
  display: flex;
  align-self: flex-start;
  transform: rotate(360deg);
  transform: translate(150px, 5px);
}

.tasas {
  margin-top: 2rem;
  max-width: 70%;
  border: 4px double white;
  transform: translate(150px, -15px);
}

.videoEmpresas {
  margin-top: 2rem;
  margin-left: 30%;
  max-width: 2800px;
  display: flex;
  flex-direction: row;
}

.tituloSector {
  font-size: 2.3rem;
  margin-left: 0.5rem;
  margin-top: 2rem;
  text-decoration: underline;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  transform: translate(600px, -10px);
}

header {
  grid-area: header;
  justify-self: stretch;
}

main {
  grid-area: main;
  align-self: start;
  flex-wrap: wrap;
}

section {
  grid-area: section;
}

footer {
  grid-area: footer;
}

.titFooter {
  order: -1;
}

@media (max-width: 768px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "header"
      "main"
      "section"
      "footer";
  }

  .centralPart {
    display: flex;
    background-color: grey;
  }
  .footer {
    background-color: black;
  }
  .menu {
    flex-direction: column;
  }
}

.centralPartA {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 70vh;
  flex-wrap: wrap;
}

@media (min-width: 1350px) {
  body {
    background-color: lightgrey;
  }
}
