* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: bisque;
  font-size: 20px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.card {
  margin: 30px;
}

.card-text {
  color: coral;
}
